body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
}

.header {
    height: 40px;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .title {
    margin-right: 10px;
}

.main {
    display: flex;
    height: calc(100% - 40px);
}

.sidebar {
    width: 360px;
    border-right: 1px solid #ddd;
    padding: 0px;
    box-sizing: border-box;
    height: calc(100vh - 118px);
    overflow-y: scroll;
}

.content {
    flex-grow: 1;
    padding: 20px;
    height: calc(100vh - 118px);    
}

.el-table th,
.el-table td {
    text-align: left;
}

.el-table .blue-header {
    background-color: rgba(10, 132, 255, 1);
    color: #fff;
}

.hodeLyout__header {
    height: 38px;
    display: flex;
    background: linear-gradient(270deg, rgb(31, 180, 239), rgb(22, 167, 225));
}
.hodeLyout__header__title {
    padding-left: 50px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
.hodeLyout__header__logo {
    height: 38px;
}
.hodeLyout__header__title {
    padding-left: 50px;
    font-size: 16px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
}
.hodeLyout__header__time {
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 14px;
    color: rgb(255, 255, 255);
    flex: 1 1 0%;
}
.hodeLyout__header__login {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(245, 108, 108);
    cursor: pointer;
}